<h1> [Something Here Later On] </h1>

<h3> List out or add a venue </h3>

<form action="/venue" method="post">
  <label for="name">Name of Venue</label>
  <input id="name" name="name" type="text">

  <label for="location">Where is this Venue?</label>
  <input id="location" name="location" type="text">

  <button type="submit" class="btn btn-sm btn-primary">Add Venue</button>
</form>

<ul>
    <% @venues.each() do |venue| %>
      <li style="margin: 5px auto;">
        <a href="venues/<%= venue.id()%>"><button type="submit" class="btn btn-sm btn-primary">Edit</button></a>
        <%= venue.name() %> <%= venue.location() %>
      </li>
    <% end %>

</ul>


<h3> List out or add a band </h3>

<form action="/band" method="post">
  <label for="name">Name of Band</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-sm btn-primary">Add Band</button>
</form>

<ul>
  <% @bands.each() do |band| %>
    <li><%= band.name() %></li>
  <% end %>
</ul>
